spring:
  application:
    name: event-management-application
  datasource:
    url: jdbc:postgresql://localhost:5432/eventdb
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: create-drop
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8082
